.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 400px;
  padding: 20px;
  background-color: #5b8c00;
  h1, p {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }
  h1 {
    line-height: 32px;
  }
  &__wrapper {
    height: 100vh;
    padding-top: 50px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    height: 20px;
    &__auth {
      color: #000 !important;
    }
    &__reg {
      color: #0050b3 !important;
      cursor: pointer;
      &:hover {
        color: #1890ff !important;
      }
    }
  }
  &__left {
    max-width: 600px;
  }
  &__right {
    width: 600px;
  }
  &__middle {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    a {
      text-align: center;
      margin-left: 20px;
      @media (max-width: 340px) {
        font-size: 12px;
      }
    }
  }
  &__down {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    &__button {
      width: 130px;
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    &__button {
      width: 300px;
      @media (max-width: 391px) {
        width: 150px;
        margin-top: 20px;
      }
    }
  }
  &__password {
    max-width: 400px;
  }
  &__error {
    margin-top: 20px;
    color: #000 !important;
    padding: 10px 0;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid rgb(204, 36, 36);
  }
  &__name {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &_input {
      width: 260px;
      &_el {
        width: 100%;
      }
    }
  }
}